# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Edytory
*.swp
*.swo
*~
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logi
*.log

# Tymczasowe
*.tmp
*.bak
*.orig

# Testy i Coverage
htmlcov/
.coverage
.pytest_cache/
bing-glava-suite.zip
diffp.tx
*.dot
